body {
	background:url('../img/black_background_pattern_1280x800_79638.jpg') no-repeat center center fixed;


	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	transition: background 0.5s linear;
}

.bg1{
	background:url('../img/fotolia1.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	transition: background 0.5s linear;
}

.bg2{
	background:url('../img/fotolia2.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	transition: background 0.5s linear;
}

.starter-template {
	/*padding: 40px 15px;*/
	text-align: center;
}

.vcenter * {
    vertical-align: middle;
    display: inline-block;   
    
}

.hcenter *{
    margin-left: auto;
    margin-right: auto;
}

.container {
 /*   width: 1170px;*/
   
}

.glyphicon-2x {
    font-size: 48px;
    opacity: 0;
}

.my-fluid-container {
  /*  padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;*/
     width: 100%;
}


.thumbnail{
	padding: 10px 10px;
	text-align: center;


}

.transparent{
	 background:#fff;
	 background: rgba(256, 256, 256, .6);
}

.quest{
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fruchtig{
	display:none;
}

.frisch{
	display:none;
}
.holzig{
	display:none;
}
.orientalisch{
	display:none;
}
